<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>Chapter 4 Web Application</display-name>
  <filter>
    <filter-name>SimplePageCachingFilter</filter-name>
    <filter-class>net.sf.ehcache.constructs.web.filter.SimplePageCachingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SimplePageCachingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>ApplicationServlet</display-name>
    <servlet-name>ApplicationServlet</servlet-name>
    <servlet-class>net.danielwind.effcaching.chapter4.servlets.ApplicationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApplicationServlet</servlet-name>
    <url-pattern>/ApplicationServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>ApplicationFilter</display-name>
    <filter-name>ApplicationFilter</filter-name>
    <filter-class>net.danielwind.effcaching.chapter4.filters.ApplicationFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ApplicationFilter</filter-name>
    <url-pattern>/ApplicationFilter</url-pattern>
  </filter-mapping>
</web-app>