<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	
	<session-factory>
		
		<property name="hibernate.connection.driver_class"></property>
		<property name="hibernate.connection.url"></property>
		<property name="hibernate.connection.username"></property>
		<property name="hibernate.connection.password"></property>
		<property name="hibernate.dialect"></property>
		<property name="hibernate.default_schema"></property>
		<property name="show_sql">true</property>
		
		<!--------------------------------------------------
		 Force Hibernate to use CacheManager Singleton 
		 --------------------------------------------------->
		<property name="hibernate.cache.region.factory_class">
        	 net.sf.ehcache.hibernate.SingletonEhCacheRegionFactory
        </property>
        
        <!--------------------------------------------------
         Enable Hibernate Second Level Cache (default = false)
         -------------------------------------------------->
        <property name="hibernate.cache.use_second_level_cache">true</property>
		
		<!-------------------------------------------------- 
		 Enable Hibernate Query Cache (default = false) 
		 --------------------------------------------------->
		<property name="hibernate.cache.use_query_cache">true</property>
		
		<!-- MAPPINGS -->
		<mapping resource="net/danielwind/effcaching/recipe5/persistence/movies/"></mapping>
		
	</session-factory>
	
</hibernate-configuration>
