<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	
	<session-factory>
		
		<property name="hibernate.connection.driver_class">org.hsqldb.jdbcDriver</property>
		<property name="hibernate.connection.url">jdbc:hsqldb:mem:recipe5</property>
		<property name="hibernate.connection.username">sa</property>
		<property name="hibernate.connection.password"></property>
		<property name="hibernate.dialect">org.hibernate.dialect.HSQLDialect</property>
		<property name="show_sql">true</property>
		
		<!-- use EhCache provider -->
		<property name="cache.provider_class">net.sf.ehcache.hibernate.EhCacheProvider</property>
        
        <!-- Enable table auto generation -->
        <property name="hibernate.hbm2ddl.auto">create</property>
        
        <!-- Enable Hibernate Second Level Cache (default = false) -->
        <property name="hibernate.cache.use_second_level_cache">true</property>
		
		<!-- Enable Hibernate Query Cache (default = false) -->
		<property name="hibernate.cache.use_query_cache">true</property>
		
		<!-- MAPPINGS -->
		<mapping class="net.danielwind.effcaching.recipe5.model.MovieEntity"></mapping>
		
	</session-factory>
	
</hibernate-configuration>
